html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
}
canvas {
  background: #eee;
  display: none;
  margin: 0 auto;
}

.game-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  text-align: center;
}
