html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: black;
  }
  canvas {
    border: 2px solid white;
    border-radius: 4px;
    display: none;
  }
  h1{
    color: white;
    text-align: center;
  }